#mainCont{
	width: 800px;
	height: 800px;
}
#mainView{
	background-color: #ddd;
	width: 100%;
	height: 600px;
	position: relative;
}
#ground>div{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 0 -4px 0;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.fuelSpot{
	margin: 7px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #11d;
}
.biomSpot{
	margin: 7px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #191;
}
#mainHud{
	background-color: #999;
	height: 200px;
	padding: 15px;
}
#mainHud>div{
	display: inline-block;
	vertical-align: top;
	width: 245px;
	height: 200px;
	background-color: #777;
}
.hudLabel{
	width: 100%;
	text-align: center;
}
#gauges{
	
	margin-right: 13px;
}
#tileInfo{
	margin-right: 13px;
}
#infoCont{
	background-color: #ddd;
	border: 1px solid #333;
	margin: 15px;
	height: 150px;
}
.tileItem{
	margin: 10px;
	background-color: #eee;
	border-radius: 10px;
}
.tileItemName{
	display: inline-block;
	width: 135px;
	margin: 10px;
}
.tileItemAdd{
	display: inline-block;
	background-color: green;
	text-align: center;
	border-radius: 5px;
	padding: 5px 9px;
	margin: 5px;
	color: white;
	cursor: pointer;
}
.gauge{
	position: relative;
	display: inline-block;
	border: 1px solid #333;
	margin: 15px;
	height: 150px;
	width: 36%;
}
.gauge>div{
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
}
#famt{
	background-color: #11d;
}
#bamt{
	background-color: #1d1;
}
#moveButtons{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 100%;
}
#player{
	margin: 5px;
	width: 15px;
	height: 15px;
	background-color: #333;
	position: absolute;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}




